@media (min-width: 300px) {
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

body {
    background: linear-gradient(270deg, pink, lightblue);
}

h1 {
    text-align: center;
    font-size: 35px;
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
    height: 100px;
    padding-top: 40px;
}

div.card:hover {
    border-style: solid;
    border-width: 2px;
    color: rgb(72, 209, 101);
    padding: 0,5px;
    margin: 2px;
    box-shadow: 5px 5px 0px 0px rgb(62, 199, 165);
}

div.card img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family: "ocr extended";
    font-size: 120%;
    font-weight: bold;
}

bbbb.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 6rem;
}

div.card {
    background-color: #ffff;
    width: 300px;
    border-radius: 5px;
    position: relative;
    top: 0px;
    box-shadow: 10px 5px 5px 0px rgb(62, 199, 165);
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 5rem;
}

.mal img {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(83, 83, 83);
}
